<footer>
  <div class="upper_of_footer">
    <div class="for_upper_of_footer">
      <div class="links_in_footer">
        <div class="font_for_upper_of_footer_1">
          <div class="absolue_span">
            <div id="circle_in_span"></div>
            <span>pdf-меню</span>
          </div>
          <span>Фирменные роллы</span>
          <span>Запечённые роллы</span>
          <span>Классические роллы</span>
          <span>Темпурные роллы</span>
          <span>Сеты</span>
          <span>Суши</span>
        </div>
        <div class="font_for_upper_of_footer_1">
          <span>Воки</span>
          <span>Тяхан</span>
          <span>Супы</span>
          <span>Салаты</span>
          <span>Соусы</span>
          <span>Напитки</span>
        </div>
        <div class="font_for_upper_of_footer_2">
          <span>Акции и скидки</span>
          <span>Доставка и оплата</span>
          <span>Бонусная система</span>
        </div>
        <div class="font_for_upper_of_footer_2">
          <span>О компании</span>
          <span>Вакансии</span>
          <span>Контакты</span>
        </div>
      </div>
      <div class="right_of_footer">
        <div class="upper_of_right_of_footer">
          <div class="inst"></div>
          <div class="VK"></div>
          <div class="OK"></div>
        </div>
        <div class="text">
          <span>sushibox.org</span>
          <span>+7 (8442) 27-73-73</span>
        </div>
        <div class="downer_of_right_of_footer">
          <div id="app_store"></div>
          <div id="play_market"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="downer_of_footer">
    <div class="for_downer_of_footer">
      <div class="for_text">
        <span>SushiBox 2013-2021</span>
        <span>Все права защищены</span>
      </div>
      <div class="logo_in_footer"></div>
      <div class="for_text">
        <span>Правила оплаты товаров</span>
        <span>Политика конфиденциальности</span>
      </div>
    </div>
  </div>
</footer>
