<header>
  <div class="mobile-header">
    <input type="checkbox" id="burger-checkbox" />
    <div class="logo"></div>
    <label for="burger-checkbox" class="burger-button">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </label>

    <!-- Мобильное меню -->
    <nav class="mobile-menu">
      <div class="mobile-menu_div">
        <div class="part_of_mobile-menu_div">
          <button class="button_of_mobile-menu">
            <div class="image_for_button arrow_of_navigator"></div>
            <span>ул. Баррикадная, 16</span>
          </button>
          <div class="two_buttons_of_mobile-menu">
            <button class="button_of_mobile-menu pulsanto_telefono">
              <div class="image_for_button telefono"></div>
              <span>8 (8422) 21-73-73</span>
            </button>
            <button class="button_of_mobile-menu profile">
              <div class="image_for_button for_numero_telefono"></div>
              <span>Войти</span>
            </button>
          </div>
          <div class="part_of_mobile-menu_div-pulsanti">
            <span>Lorem ipsum</span>
            <span>Lorem ipsum</span>
            <span>Lorem ipsum</span>
            <span>Lorem ipsum</span>
          </div>
        </div>
        <div class="part_of_mobile-menu_div">
          <div class="buttons_of_social_media">
            <button id="vk"></button>
            <button id="telegram"></button>
            <button id="ok"></button>
          </div>
          <div class="buttons_for_download">
            <button id="appstore"></button>
            <button id="google_play"></button>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="desktop_header">
    <div class="left_part">
      <div class="logo"></div>
      <span class="place_of_delivery">
        Доставка в<span class="rectangle_for_place_of_delivery"
          >Ульяновске</span
        >
        60 минут
      </span>
    </div>
    <div class="right_part">
      <div class="element_for_right_part">
        <div class="pictur_for_element_for_right_part location_text"></div>
        <span>ул. Баррикадная, 16</span>
      </div>
      <div class="element_for_right_part">
        <div class="pictur_for_element_for_right_part phone"></div>
        <span>8 (8422) 21-73-73</span>
      </div>
      <div class="element_for_right_part">
        <div class="pictur_for_element_for_right_part profile"></div>
        <span>Войти</span>
      </div>
    </div>
  </div>
  <div class="toolbar">
    <div class="buttons_of_toolbar">
      <span>lorem</span>
      <span>lorem</span>
      <span>lorem</span>
      <span>lorem</span>
      <span>lorem</span>
      <span>lorem</span>
      <span>lorem</span>
      <span>lorem</span>
      <span>lorem</span>
      <span>lorem</span>
    </div>
    <div class="busket_button">
      <div class="busket"></div>
      <span>Корзина</span>
    </div>
  </div>
</header>
