<h1>Классические роллы</h1>
<div class="rols">
  <div class="card_for_rols">
    <div class="hit_and_new">
      <div class="for_hit_and_new orange">ХИТ</div>
      <div class="for_hit_and_new blue">NEW</div>
    </div>
    <div class="img sushi"></div>
    <div class="name_of_product">
      <span>Акинава</span>
      <div id="container_for_upper_ungredients">
        <div class="mark">
          <div
            class="pict"
            style="background-image: url(&quot;./assets/image\ 514.png&quot;)"
          ></div>
          <span>Скидка</span>
        </div>
        <div class="mark">
          <div
            class="pict"
            style="background-image: url(&quot;./assets/image\ 1565.png&quot;)"
          ></div>
          <span>Вега</span>
        </div>
      </div>
    </div>
    <div class="text_for_card">
      Сыр творожный, креветка в кляре, огурец, тобико
    </div>
    <div class="price">
      <strike>200 ₽</strike>
      <span>200 ₽</span>
    </div>
  </div>
  <div class="card_for_rols">
    <div class="hit_and_new">
      <div class="for_hit_and_new orange">ХИТ</div>
      <div class="for_hit_and_new blue">NEW</div>
    </div>
    <div class="img sushi"></div>
    <div class="name_of_product">
      <span>Акинава</span>
      <div class="mark">
        <div class="pict"></div>
        <span>Вега</span>
      </div>
    </div>
    <div class="text_for_card">
      Сыр творожный, креветка в кляре, огурец, тобико
    </div>
    <div class="price">
      <strike>200 ₽</strike>
      <span>200 ₽</span>
    </div>
  </div>
  <div class="card_for_rols">
    <div class="hit_and_new">
      <div class="for_hit_and_new orange">ХИТ</div>
      <div class="for_hit_and_new blue">NEW</div>
    </div>
    <div class="img sushi"></div>
    <div class="name_of_product">
      <span>Акинава</span>
      <div class="mark">
        <div class="pict"></div>
        <span>Вега</span>
      </div>
    </div>
    <div class="text_for_card">
      Сыр творожный, креветка в кляре, огурец, тобико
    </div>
    <div class="price">
      <strike>200 ₽</strike>
      <span>200 ₽</span>
    </div>
  </div>
  <div class="card_for_rols">
    <div class="hit_and_new">
      <div class="for_hit_and_new orange">ХИТ</div>
      <div class="for_hit_and_new blue">NEW</div>
    </div>
    <div class="img sushi"></div>
    <div class="name_of_product">
      <span>Акинава</span>
      <div class="mark">
        <div class="pict"></div>
        <span>Вега</span>
      </div>
    </div>
    <div class="text_for_card">
      Сыр творожный, креветка в кляре, огурец, тобико
    </div>
    <div class="price">
      <strike>200 ₽</strike>
      <span>200 ₽</span>
    </div>
  </div>
</div>
