<div class="filter">
  <span class="filter_by_ingredients-span">Фильтр по ингридиентам</span>
  <div class="filter_by_ingredients-type">
    <button class="color_button_string" style="background-color: #ff5e00">
      ХИТ
    </button>
    <button class="color_button_string" style="background-color: #5f25e0">
      NEW
    </button>
    <button class="tag">
      <div
        style="background-image: url(&quot;./assets/image\ 1565.png&quot;)"
      ></div>
      <span>Вега</span>
    </button>
    <button class="tag">
      <div
        style="background-image: url(&quot;./assets/image\ 1367.png&quot;)"
      ></div>
      <span>Горячие</span>
    </button>
    <button class="tag">
      <div
        style="background-image: url(&quot;./assets/image\ 1618.png&quot;)"
      ></div>
      <span>Острое</span>
    </button>
    <button class="tag">
      <div
        style="background-image: url(&quot;./assets/image\ 514.png&quot;)"
      ></div>
      <span>Скидка</span>
    </button>
  </div>
  <div class="filter_downer">
    <button>
      <span>Лосось</span>
      <div
        style="background-image: url(&quot;./assets/image\ 1727.png&quot;)"
      ></div>
    </button>
    <button>
      <span>Креветка</span>
      <div
        style="background-image: url(&quot;./assets/image\ 1743.png&quot;)"
      ></div>
    </button>
    <button>
      <span>Краб</span>
      <div
        style="background-image: url(&quot;./assets/image\ 1620.png&quot;)"
      ></div>
    </button>
    <button>
      <span>Огурец</span>
      <div
        style="background-image: url(&quot;./assets/img-cheese.png&quot;)"
      ></div>
    </button>
    <button>
      <span>Сыр</span>
      <div
        style="background-image: url(&quot;./assets/image\ 1605.png&quot;)"
      ></div>
    </button>
    <button>
      <span>Авокадо</span>
      <div
        style="background-image: url(&quot;./assets/image\ 1622.png&quot;)"
      ></div>
    </button>
    <button>
      <span>Овощи</span>
      <div
        style="background-image: url(&quot;./assets/image\ 1727.png&quot;)"
      ></div>
    </button>
    <button>
      <span>Курица</span>
      <div
        style="background-image: url(&quot;./assets/image\ 1727.png&quot;)"
      ></div>
    </button>
    <button>
      <span>Мясо</span>
      <div
        style="background-image: url(&quot;./assets/image\ 1727.png&quot;)"
      ></div>
    </button>
  </div>
</div>
