<div class="container-slides">
  <button class="arrow left-arrow"></button>
  <button class="arrow right-arrow"></button>
  <div class="slides">
    <div class="slide-1"></div>
    <div class="slide-2"></div>
    <div class="slide-3"></div>
  </div>
  <div class="show"></div>
</div>
